:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --borderradius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem --box-shadow: 0 2rem 3rem var(var(--color-light));
  --box-shadow: 0 2rem 3rem var(--color-light);
}



main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--color-dark);
}

main div p {
  color: black;
}

main input {
  width: 15rem;
  padding: 0.5rem 0.1rem;
  border: 1px solid var(--color-info-light);
  text-align: center;
  color: var(--color-dark-variant);
}

main select {
  width: 15rem;
  padding: 0.5rem 0.1rem;
  text-align: center;
  color: var(--color-dark-variant);
  border: 1px solid var(--color-info-light);
}

main textarea {
  width: 15rem;
  padding: 0.5rem 0.3rem;
  height: 5rem;
  border: 1px solid var(--color-info-light);
}
